<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="container">
        <div>
            <h1 id="createItem">Create-Item</h1>
            <form>
                <label for="name-item">Name of Item</label>
                <input class="name-item" type="text" name="name-item">
                <label for="item-quantity">Quantity</label>
                <input class="item-quantity" type="number" name="item-quantity">
                <label for="item-price">Price</label>
                <input class="item-price" type="number" name="item-price">
                <button id="create-btn">Create Item</button>
            </form>
        </div>
        
        <div>
            <h1 id="deleteItem">Delete-Item</h1>
            <form>
                <label for="delete-item">Name of Item to Delete</label>
                <input class="delete-item" type="text" name="delete-item">
                <button id="delete-btn">Delete Item</button>
            </form>
        </div>
        
        <div>
            <h1 id="displayAllItems">Display-All-Items</h1>
            <button id="displayAllItems-btn">Display all Items</button>
            <div id="display-all-items"></div>
        </div>

        <div>
            <h1 id="searchItem">Search-Item-To-Update</h1>
            <form>
                <label for="search-item">Name of Item to Update</label>
                <input class="search-item" type="text" name="search-item">
                <button id="searchItem-btn">Search</button>
            </form>
        </div>
        <div id="search-result"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
